# Database
MONGO_URI=

# Auth
JWT_SECRET=

# Server Port
PORT=5000

# Email Config (For Nodemailer)
SMTP_EMAIL=
SMTP_PASSWORD=

# Frontend & Backend URLs
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5000

# SSLCommerz Payment Gateway
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWD=
SSLCOMMERZ_IS_LIVE=false

# bKash Payment Gateway
BKASH_BASE_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
# BKASH_MERCHANT_ID=

# Cloudinary (File/Image Upload)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Google reCAPTCHA
RECAPTCHA_SECRET_KEY=
